<div class="container-fluid pt-2">
    <div class="row justify-content-center">
        <div class="col col-sm-10 col-md-8">
            <div class="row pokedex-header mb-3">
                <div class="col col-3 col-sm-2">No. {{pokemon$?.id}}</div>
                <div class="col col-4 col-sm-2 col-md-3">{{pokemon$?.name}}</div>
                <div class="col col-5 d-sm-none"></div>
                <div class="col col-6 col-sm-4 col-md-3">{{pokeGenus}}</div>
                <div *ngIf="pokemon$?.types?.length !== 2" class="col col-3 col-sm-2"></div>
                <ng-container *ngFor="let pokeType of pokemon$?.types">
                    <div class="col col-3 col-sm-2">
                        <span class="text-uppercase">{{pokeType.type.name}}</span>
                    </div>
                </ng-container>
            </div>
        
            <div class="row">
                <div class="col col-12 col-sm-8 mb-3 mb-sm-0 d-flex justify-content-center">
                    <div class="col col-sm-8 col-lg-6 col-xl-5 d-flex justify-content-center pokedex-img-border">
                        <img src={{pokeSprite}}>
                    </div>
                </div>
                <div class="col col-12 col-sm-4">
                    <div class="col pokedex-tags mb-2">
                        <div class="text-center">Units</div>
                    </div>
                    <div class="col">Weight: {{pokemon$?.weight}} lbs.</div>
                    <div class="col">Height: {{pokemon$?.height}}"</div>
                    <div class="col pokedex-tags mt-3 mb-2">
                        <div class="text-center">Abilities</div>
                    </div>
                    <ng-container *ngFor="let pokeAbility of pokemon$?.abilities">
                        <div class="col text-capitalize">{{pokeAbility.ability.name}}</div>
                    </ng-container>
                    <ng-container *ngIf="pokemon$?.held_items?.length !== 0">
                        <div class="col pokedex-tags mt-3 mb-2">
                            <div class="text-center">Items carried</div>
                        </div>
                        <ng-container *ngFor="let pokeItems of pokemon$?.held_items">
                            <div class="col text-capitalize">{{pokeItems.item.name}}</div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="row mt-3 mt-sm-5 justify-content-center">
                    <div class="col">
                        <div class="col pokedex-list-border pokedex-list-text text-center p-3">{{pokeDescription}}</div>
                    </div>
            </div>
        </div>
    </div>
</div>