.pokedex-error-border {
    border: 21px solid;
    border-image: url("/assets/poke-border-paper.png") 42 repeat;
    position: relative;
    z-index: 1;
}

.pokedex-error-text {
    background-image: url("/assets/poke-bg-paper.jpg");
    width: 100%;
    height: 100%;
}