<div class="container-fluid py-3">
    <div class="row d-flex justify-content-between">
        <div class="col-2 p-0 d-flex justify-content-end">
            <button 
                type="button" class="btn btn-dark"
                *ngIf="offset !== 0"
                (click)="onButtonClick(offset - 20)">prev</button>
        </div>
        <ng-container *ngFor="let number of pagesList">
            <!-- TODO: first page does not show 5 Elements -->
            <div 
                class="col-1 p-0 d-flex justify-content-center"
                *ngIf="isButtonVisible(number + 1)">
                <button 
                    type="button" 
                    class="btn btn-light"
                    [class.active]="offset === (number * 20)"
                    (click)="onButtonClick((number) * 20)">{{number + 1}}</button>
            </div>
        </ng-container>
        <div class="col-2 p-0">
            <button 
                type="button" class="btn btn-dark" 
                *ngIf="offset !== 1120"
                (click)="onButtonClick(offset + 20)">next</button>
        </div>
    </div>
</div>