<!-- <app-pagination
[offset]="offset"
[pagesList]="pagesList"
[currentPage]="currentPage"
(newButtonEvent)="onButtonClick($event)"></app-pagination> -->
<div class="grid grid-cols-4 gap-4 mx-60">
    <div  *ngFor="let pokemon of pokedexList$">
        <a [routerLink]="['/pokemon', pokemon.name]">
            <app-poke-dex-entry [resource]="pokemon"></app-poke-dex-entry>
            <!-- <div class="row justify-content-center">
                <div class="pokedex-list-border">
                    div class="pokemon-img-bg d-flex justify-content-center">
                        <img src={{pokemon.url}}>
                    </div>
                    <div class="pt-3 pb-2 d-flex 
                        justify-content-center
                        align-items-center 
                        pokedex-list-element">
                        <h3 class="text-capitalize text-dark">{{pokemon.name}}</h3>
                    </div>
                </div>
            </div> -->
        </a>
    </div>
</div>

<!-- <app-pagination
[offset]="offset"
[pagesList]="pagesList"
[currentPage]="currentPage"
(newButtonEvent)="onButtonClick($event)"></app-pagination> -->