.pokedex-list-border {
    border: 21px solid;
    border-image: url("/assets/poke-border-paper.png") 42 repeat;
    position: relative;
    z-index: 1;
}

.pokedex-list-element, .pokemon-img-bg {
    background-image: url("/assets/poke-bg-paper.jpg");
    width: 100%;
    height: 100%;
}

.pokemon-img-bg {
    img {
        max-height: 200px;
        max-width: 200px;
    }
}