// Required
@import "../../node_modules/bootstrap/scss/functions";

$font-color: #e5eaee;
$dark: #283c50;

$text-dark: $dark;

@mixin mountain {
    background-image: url("/assets/button/button-bg.png");
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 32%;
}

@mixin button {
    background-color: $dark;
    border-color: $dark;
    color: $font-color;
}

.navbar-dark .navbar-brand {
    color: $font-color;
}

.bg-dark, .btn-dark {
    @include mountain();
}

.btn-dark, .btn-light.active {
    @include button();
    text-transform: uppercase;
}

.btn-dark:hover, .btn-light:hover  {
    color: $dark;
    background-color: $font-color;
    border-color: $font-color;
    background-image: none;
}

.btn-light {
    color: $dark;
    border: solid url("/assets/poke-bg-paper.jpg");
    background-image: url("/assets/poke-bg-paper.jpg");
}

.btn-light.active {
    @include button();
    @include mountain();
}


@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";